.github/**
.vscode/**
src/**
docs/**
NetTraceAIAnalysisWorkspace/**
Release/**
*.pcap
*.pcapng
*.cap
*.ts
!*.d.ts
tsconfig.json
.gitignore
.eslintrc*
**/*.map
node_modules/**
.vscode-test/**
**/.DS_Store
**/Thumbs.db
